* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --gap: 1em;
  --index: calc(1vw + 1vh);
  --dark-theme-color: #000;
}

body {
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  position: absolute;
  margin-top: 0.2em;
  text-transform: uppercase;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 0.1em;
  font-size: calc(var(--index) * 2.8);
  font-weight: 200;
  text-align: center;
  opacity: 0.9;
}
.header span {
  display: block;
  font-family: Helvetica, sans-serif;
  font-size: calc(var(--index) * 0.75);
  margin-top: 5px;
}
.gallery {
  column-width: 2em;
}
.gallery__item {
}
.gallery__item img {
  width: 100%;
}
